/* START: Video Feed */
.local_view_viewer {
	height: 100%;
}

.remote_view_viewer {
	height: 100%;
	padding: 20px;
}
/* END: Video Feed */

/* START: Player Positions */
.player_position {
	text-align: center;
}

#player_pos_5, #player_pos_6, #player_pos_7 {
	bottom: 0px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 10;
}

#player_pos_8 {
	position: absolute;
	left: 0px;
	bottom: 5%;
}

#player_pos_9 {
	position: absolute;
	left: 0px;
	bottom: 50%;
}

#player_pos_4 {
	position: absolute;
	right: 0px;
	bottom: 5%;
}

#player_pos_3 {
	position: absolute;
	right: 0px;
	bottom: 50%;
}

#player_pos_10, #player_pos_2 {
	padding-top: 20px;
}

.col_video_viewer {
	position: absolute;
	width: calc(90%);
	height: 90%;
	bottom: 5px;
	left: calc(5%);
}
/* END: Player Positions */

/* START: Hole Cards */
.inactive_player .hole_cards {
	display: none;
}

.shown_hole_card:hover {
	border-radius: 5px;
	height: 120px !important;
	opacity: 1.0 !important;
}

.hole_cards {
	position: absolute;
	right: calc(50% - 80px);
	top: 0px;
	z-index: 10;
}

.hole_card_1 {
	transform: rotate(-20deg);
	position: absolute;
	left: -40px;
}

.hole_card_2 {
	transform: rotate(20deg);
	left: -30px;
	position: absolute;
}

}
#player_pos_10 .hole_cards, #player_pos_2 .hole_cards {
	top: 15px !important;
}

@media only screen and (max-width: 1200px) {
	#player_pos_10  {
		right: 15px;
	}
}


.hole_card {
	height: 25px;
	box-shadow: 2px 2px 5px;
}

.hole_card_expanded {
	height: 125px !important;
}

#player_pos_10 .shown_hole_card_holder, #player_pos_2  .shown_hole_card_holder {
	top: -40px;
}


.shown_hole_card {
	height: 75px;
}

.shown_hole_cards {
	left: calc(5%);
	position: absolute;
}

.shown_hole_cards_l:hover {
	z-index: 9999 !important;
}

.shown_hole_cards_l {
	position: absolute;
	left: 0px;
	top: -40px;
	z-index: 10;
	transform: rotate(-20deg);
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
}

.shown_hole_cards_r {
	position: absolute;
	left: 20px;
	top: -40px;
	z-index: 11;
	transform: rotate(20deg);
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
}

#player_pos_7 .shown_hole_cards, #player_pos_8 .shown_hole_cards,
	#player_pos_9 .shown_hole_cards, #player_pos_3 .shown_hole_cards,
	#player_pos_4 .shown_hole_cards, #player_pos_5 .shown_hole_cards,
	#player_pos_6 .shown_hole_cards {
	top: calc(-10%);
	left: calc(-60%);
}

#player_pos_10 .shown_hole_cards, #player_pos_2 .shown_hole_cards {
	top: calc(3%);
	left: calc(25%);
}

.other_player_block.video_on .shown_hole_cards {
	left: calc(5%) !important;
}

/* END: Hole Cards */
.other_player_block.video_on .stack_wrapper {
	position: absolute !important;
	background-color: black !important;
	box-shadow: 5px 5px 5px !important;
	border-radius: 5px !important;
	bottom: 10px !important;
    left: unset;
    right: calc(5%);
}

.other_player_block.video_on .inline_stack_img {
	display: none !important;
}

.other_player_block.video_on .stack_size {
	color: white !important;
	padding: 5px !important;
	font-size: 1.25em !important;
}

.other_player_block.video_on .profile_img_border {
	display: none;
}

/* START: Alerts and Buttons */
.buy_in_icon {
	height: 40px;
}

.buy_in_alert {
	position: absolute;
	left: calc(50% - 17px);
	top: calc(50% - 25px);
	z-index: 10;
	background-color: white;
	padding: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

.dealer_alert_icon {
	height: 25px;
}

.dealer_alert_wrapper {
	position: absolute;
	z-index: 10;
	box-shadow: 4px 4px 5px;
	border-radius: 50%;
	left: calc(50% + 20px);
	top: calc(50% + 10px);
}

.other_player_block.video_on .dealer_alert_wrapper {
    top: -10px;
    right: -80px;
    left: unset;	
}

.other_player_block.video_on .buy_in_alert {
	display : none;
}
/* END: Alerts and Buttons */

/* START: River Rats */
.river_rat_img {
	height: 50px;
	width: 50px;
}

.river_rat_wrapper {
	top: 0px;
	height: 50px;
	width: 50px;
	position: absolute;
	left: calc(50% - 23px);
	z-index: 10;
}

#player_pos_5 .river_rat_wrapper, #player_pos_6 .river_rat_wrapper, #player_pos_7 .river_rat_wrapper,
	#player_pos_8 .river_rat_wrapper, #player_pos_9 .river_rat_wrapper,
	#player_pos_3 .river_rat_wrapper, #player_pos_4 .river_rat_wrapper {
	top: -20px;
}

#player_pos_5 .river_rat_wrapper, #player_pos_6 .river_rat_wrapper, #player_pos_7 .river_rat_wrapper,
	#player_pos_8 .river_rat_wrapper, #player_pos_9 .river_rat_wrapper,
	#player_pos_3 .river_rat_wrapper, #player_pos_4 .river_rat_wrapper {
	xbottom: 105px;
}

/* END: River Rats */
.profile_img_border {
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
	background-color: black;
	box-shadow: 5px 5px 5px;
}

.profile_img {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.profile_img_wrapper {
	width: 75px;
	margin: 0 auto;
	position: relative;
}

.player_block .player_name {
	font-size: 1.25em;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	padding-top: 5px;
}

.player_block .stack_size {
	color: white;
	font-weight: bold;
	white-space: nowrap;
	padding-top: 5px;
	margin-bottom: unset !important;
}

.inactive_player .profile_img {
	opacity: .25;
}

.chip_holder {
	height: 100%;
}

.stack_action_wrapper {
	border-style: solid;
    border-radius: 5px;
    border-color: white;
    padding: 2px 10px;	
    background-color: #696969;
    display: inline-block;    
}

.inline_stack_img {
	height: 25px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.stacked_stack_img {
	height: 30px;
}

.stack_img_pot, .stack_img_bet {
	height: 100%;
}

@media only screen and (max-width: 1460px) {
	.stack_img_pot, .stack_img_bet {
		height: 90%;
	}
}

@media only screen and (max-width: 1060px) {
	.stack_img_pot, .stack_img_bet {
		height: 70%;
	}
}

@media only screen and (max-width: 960px) {
	.stack_img_pot, .stack_img_bet {
		height: 60%;
	}
}

.pot_contribution {
	font-size: 1.25em;
	color: black;
}
@media only screen and (max-width: 1460px) {
	.pot_contribution {
		padding-top: 0.3vw;
	}
}


#pot_contribution_4, #pot_contribution_5, #pot_contribution_6,
	#pot_contribution_7, #pot_contribution_8 {
	color: white;
}

.stack_size_pot, .stack_size_bet {
	font-size: 1.25em;
	white-space: nowrap;
	padding-left: 10px;
}

.stack_wrapper_pot, .stack_wrapper_bet {
	width: 100%;
	height: 100%;
}

#chip_holder_pot {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	border-radius: 4px;
	top: 5px;
	position: absolute;
	background-color: lightslategray;
	text-align: center;
	box-shadow: inset 2px 2px 10px black;
	color: white;
	font-weight: bold;
}

#chip_holder_bet {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	border-radius: 4px;
	position: absolute;
	background-color: lightslategray;
	text-align: center;
	box-shadow: inset 2px 2px 10px black;
	color: white;
}

.bet_wrapper {
	position: absolute;
	z-index: 1
}

#player_pos_6 .bet_wrapper, #player_pos_7 .bet_wrapper, #player_pos_10 .bet_wrapper, #player_pos_2 .bet_wrapper, #player_pos_5 .bet_wrapper {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

#player_pos_6 .bet_wrapper, #player_pos_7 .bet_wrapper, #player_pos_5 .bet_wrapper
	{
	bottom: -50px;
}

#player_pos_10 .bet_wrapper, #player_pos_2 .bet_wrapper {
	top: -38px;
}



#player_pos_8 .bet_wrapper {
	top: 20px;
	left: -120px;
}

#player_pos_9 .bet_wrapper {
	top: 60px;
	left: -120px;
}

#player_pos_3 .bet_wrapper {
	top: 60px;
	right: -120px;
}

#player_pos_4 .bet_wrapper {
	top: 20px;
	right: -120px;
}

#bet_action_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

#pot_action_wrapper, #pot_status_wrapper, #pot_size_wrapper,
	#bet_size_wrapper, #bet_action_wrapper, #bet_status_wrapper {
	height: 100%;
}

#bet_size_wrapper, #pot_size_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#pot_action_wrapper, #bet_action_wrapper {
    padding-top: 5px;
    padding-bottom: 5px;	
}

#pot_status_wrapper, #bet_status_wrapper {
	display: flex;
	align-items: center;
}

#pot_status_lbl, #bet_status_lbl {
	margin: auto;
	font-size: 1.25em;
}

.sidebar_header {
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.player_action_timer_header {
	font-size: 0.8vw !important;	
}

@media only screen and (max-width: 900px) {
	.player_action_timer_header {
		font-size: 0.7em !important;	
	}
}
player_action_timer_header {
	font-size: 1.0em !important;	
}

.player_action_timer_header .player_action_timer_amt {
	line-height: 30px;	
}

.time_extension_clock {
	width: 25px;	
}

/* START: Action Wrapper and Content */
#action_wrapper {
}

.action_wrapper {
	border: 3px solid;
	border-radius: 8px;	
	background-color: white;
	box-shadow: 5px 5px 5px;
}

.action_wrapper_visible_gamelog {
	height: 0%;	
}

.action_wrapper_hidden_gamelog {
	display:none; 
	height: 50%;
    display: flex;
    z-index: 999;
    position: absolute;
    transform: translateY(75%);
}

.player_action_timer {
	text-align: center;
	width: 100%;
}

.player_action_timer_amt {
	color: black;
	font-weight: bold;
}

.action_content_holder {
	height: calc(100% - 75px);
	margin-left: 5px;
	margin-right: 5px;
	overflow-y: auto;
	margin-top: -10px;
}

.action_timer {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.action_timer_amt {
	color: white;
	font-size: 1.0em;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border: 1px solid black;
	border-radius: 4px;
	background-color: black;
	padding-left: 2px;
	padding-right: 2px;
}

.action_dialog_cards {
	height: 200px;
}

.action_dialog_cards_row {
	height: 100px;
}
/* END: Action Wrapper and Content */

.video_player {
	border-radius: 10px !important;
	margin: 10px !important;
	width: calc(100% - 20px) !important;
	height: calc(100% - 20px) !important;
}

.col_video_viewer {
	position: absolute;
	width: calc(90%);
	height: 90%;
	bottom: 5px;
	left: calc(5%);
	border-radius: 20px;
	padding: unset;
	background-image: linear-gradient(#ffe4b5, #785b28);
}



@media only screen and (max-width: 991px) {
}
	.stack_size_pot, .stack_size_bet {
		font-size: 1.0em;
	}
	#pot_size_wrapper {
		padding-left: 0px !important;
	}


@media only screen and (max-width: 767px) {
	
	.self_profile_img_wrapper {
		width: 50px;
		margin: auto !important;
	}
	.self_profile_img {
		height: 45px;
		width: 45px;
	}
	.profile_img_wrapper {
		width: 30px;
	}
	.profile_img {
		height: 25px;
		width: 25px;
	}
}

@media only screen and (max-width: 667px) {
	
	.self_profile_img {
		height: 30px;
		width: 30px;
	}
}