.FobTemplatePicker-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 40px solid #16216a;

  .FobTemplatePicker-content {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 3;
    background-color: #ffffff;
  }

  .border {
    border: 1px solid rgba(132, 132, 132, 0.25);
    border-top: none;
  }

  .FobTemplatePicker-header {
    display: flex;
  }

  .FobTemplatePicker-note {
    padding: 10px;
    max-width: 450px;
    font-size: 14px;
    color: #2f2f2f;
  }

  .FobTemplatePicker-templates {
    margin-top: 10px;
  }

  .FobTemplatePicker-templates img {
    width: 130px;
  }

  .FobTemplatePicker-templates img:hover {
    cursor: pointer;
  }

  .FobTemplatePicker-button {
    display: flex;
    text-align: center;
    color: #ffffff;
    width: 160px;
    height: 50px;
    font-size: 14px;
    overflow: hidden;
    border: none;
  }

  .FobTemplatePicker-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #981b1b;
  }

  .FobTemplatePicker-angle {
    width: 30px;
  }

  .FobTemplatePicker-angle-left {
    transform: rotate(-25deg);
    background-color: #981b1b;
    width: 100%;
    height: 120%;
    position: relative;
    top: -10px;
    left: 10px;
  }

  .FobTemplatePicker-angle-right {
    transform: rotate(25deg);
    background-color: #981b1b;
    width: 100%;
    height: 120%;
    position: relative;
    left: -10px;
    top: -10px;
  }

  .FobTemplatePicker-button:hover {
    cursor: pointer;
  }
}
