@import 'main';

.navigation {
  background-color: $base-color-blue;
  margin: 0px;

  ul {
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  li {
    list-style-type: none;
    padding: 15px;
    font-size: 14px;
  }

  a{
    color: white;
    text-decoration: none;
  }
}
