@import './main';

.see-pricing{
  margin-top: 15px;

  .click {
    @include paragraph-n1;
    background-color: $base-color-blue;
    padding: 10px;
    color: $base-color-white;
    margin-bottom: 15px;
  }
}

.see-pricing:hover{
  cursor: pointer;
}