.footer-container-component{
    width: auto;
    overflow: hidden;
    height: 20vh;
    
    background-color: #0400B9;

    @media screen and (max-width: 800px) {
        height: 35vh;
        
          }
    
    
    .flex-container-footer{
        display: flex; 
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        align-items: center;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            padding-top: 4vh;
            
              }
    }

    .footer-links-container{
        margin-left: 12vh;
        display: flex;
        color: white;
        padding: 5vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style-type: none;
        font-family: 'AvenirMedium';
        @media screen and (max-width: 800px) {
            margin: 0;
            padding: 4vh 0 0 0;
              }
       

        .footer-listitems{
            padding-right: 3vw;
            @media screen and (max-width: 800px) {
                margin: 0;
                padding-left: 4vw;
                  }

            &:hover{opacity: 80%;
            cursor: pointer;}
            
        }
}
}

.social-media-icons{display: flex;

    @media screen and (max-width: 800px) {
        padding-top: 5vh;
          }
        
        &:hover{
            cursor: pointer;
            
        }
        
        }

.social-media-icon-styling{height: 8vh;

    &:hover{
        
        opacity: 80%;
    }}