.HA9-styles{
    width: 35vw;
    margin-left: -2vw;
    min-width: 500px;
    padding-top: 3.4vh;
padding-bottom: 2.4vh;
}

.dlig-styles{
    min-width: 500px;
width: 48vw;
padding-top: 1.4vh;
padding-bottom: 1.4vh;


}

.ditec-ha9-section-flex{
    display: flex;
    width: 100vw;
    height: 50vh;
    padding-bottom: 5vh;
    align-items: center;
   

@media screen and (max-width: 950px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2vh;
    height: 70vh;
}
}


.Schedule-webinar-button{
    align-self: center;
    align-items: center;
    justify-self: center;
    color: #0400B9;
    background-color: white;
    width: 15vw;
    height: 5vh;
    border: 2;
    border-color: #0400B9;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 20px;
    margin: 2vh 2vw 0 0;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }

    @media screen and (max-width: 1160px) {
        width: 17vw;
    }
    @media screen and (max-width: 950px) {
        width: 21vw;
    }
    @media screen and (max-width: 750px) {
        width: 25vw;
    }
    @media screen and (max-width: 650px) {
        width: 35vw;
    }

    }

.download-manual-button{
    align-self: center;
    align-items: center;
    justify-self: center;
    color: white;
    background-color: #0400B9;
    width: 15vw;
    height: 5vh;
    border: none;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }
    @media screen and (max-width: 1160px) {
        width: 17vw;
    }
    @media screen and (max-width: 950px) {
        width: 21vw;
    }
    @media screen and (max-width: 750px) {
        width: 25vw;
    }
    @media screen and (max-width: 650px) {
        width: 35vw;
    }

}
