@import '../base/main';

.advertisement-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;

  .advertisement-title h1{
    margin: 30px;
  }

  .pictures {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 780px;

    .picture{
      width: 320px;
    }
  }



  img {
    width: 100%;
  }

}