@import '../base/main';

.order-wrapper {

  .MuiFormLabel-root-1{
    text-align: left;
  }


  form {
    width: 760px;
    .company-info {
      .fields {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .section {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          flex-grow: 1;
          max-width: 320px;

          .text-field {
            margin-top: 7px !important;
            margin-bottom: 0px !important;
            width: 100%;
          }
        }
      }
    }

    .formatting {
      .radio-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        height: 250px;
        margin-top: 20px;

        .radio-section {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .note {
      .fields {
        display: flex;
        justify-content: space-between;
      }
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
    }

    .bottom button {
      margin: 10px;
    }
  }

  form > div {
    margin-top: 50px;
  }
}