.home-page {
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
}

.container-landing{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.text-landing {
   position: absolute;
   color: white;
   width: 80vw;
 
   bottom: 35vh;
   font-size: 3.5rem;
}
.left-button {
    position: absolute;
    left: 12vw;
    bottom: 25vh;
    background-color: #1F56BA;
    border: none;
    padding: 1.5vh 2vw;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1vw;
}

.right-button {
    position: absolute;
    left: 30vw;
    bottom: 25vh;
    background-color: white;
    color: #1F56BA;
    border: none;
    padding: 1.5vh 2vw;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1vw;
}
.right-button:hover {
opacity: 0.9;
cursor:pointer;
}

.left-button:hover {
    opacity: 0.9;
    cursor:pointer;
    }

.gradient-section{
    
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000, rgba(0,0,0,0.1)), url('./1.5.png');
    
}

.second-section-container {
    height: 80vh;
    width: 100vw;
}

.highpower-box{
    position: absolute;
    margin-top: -15vh;
    right: 11vw;
}

.text-button-container{
    width: 30vw;
    padding-left: 10vw;
    padding-top: 12vh;
}

.highpower-one-header{
    color: #1F56BA;
    font-weight: 900;
    font-size: 2.5rem;
    padding-bottom: 1.2vh;
}

.highpower-one-landing-text{
    font-weight: 400;
   color: #646D70;
}

.left-button-2 {
    
  
    background-color: #1F56BA;
    border: none;
    padding: 1.5vh 2vw;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    
    margin-top: 2.5vh;
}

.left-button-2:hover{
    opacity: 0.9;
    cursor: pointer;
}

.third-section-container {
    height: 70vh;
    width: 100vw;
    background-color: #1F56BA;
}

.our-focus-header{
    color: white;
    padding-left: 10vw;
    padding-top: 10vh;
}

.flex-containers-wholesale-nationalprojects{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    width: 100%;
}

.wholesale-section{
    padding-top: 5vh;
    padding-right: 6vw;
}

.nationalprojects-section {
    padding-top: 5vh;
    padding-left: 6vw;
}

.wholesaling-header-text{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 2vh;
}


.nationalprojects-header-text{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 2vh;
}

.wholesaling-text-section{
    color: white;
    width: 20vw;
    padding-bottom: 2vh;
}

.national-text-section{
    color: white;
    width: 20vw;
    padding-bottom: 2vh;
}

.right-button-2 {
   
    background-color: white;
    color: #1F56BA;
    border: none;
    padding: 1.5vh 2vw;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1vw;
}

.right-button-2:hover {
    opacity: 0.9;
    cursor: pointer;
}

.wholesale-box-icon {
    margin-bottom: 2vh;
}

.product-large-images-button-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
}

.pneumatic-button-image-flex{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    
}

.left-button-3 {
    
  
    background-color: #1F56BA;
    border: none;
    padding: 1.5vh 2vw;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    
    margin-top: 0.5vh;
}

.left-button-3:hover{
    opacity: 0.9;
    cursor: pointer;
}

.row{
    display: flex;
    padding-bottom:-5vh;
}