.HA9-styles{
    width: 35vw;
    padding-left: 10vw;
}

.ditec-ha9-section-flex{
    display: flex;
    width: 100vw;
    height: 60vh;
    padding-top: 5vh;
    align-items: center;
    
   }


.Schedule-webinar-button3{
    align-self: center;
    align-items: center;
    justify-self: center;
    color: #0400B9;
    background-color: white;
    width: 15vw;
    height: 5vh;
    border: 2;
    border-color: #0400B9;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 20px;
    margin: 2vh 2vw 0 0;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }

    @media screen and (max-width: 1160px) {
        width: 17vw;
    }
    @media screen and (max-width: 950px) {
        width: 21vw;
    }
    @media screen and (max-width: 750px) {
        width: 25vw;
    }
    @media screen and (max-width: 650px) {
        width: 35vw;
    }

   
    }


.download-manual-button3{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-self: center;
    align-items: center;
    justify-self: center;
    color: white;
    background-color: #0400B9;
    width: 15vw;
    height: 5vh;
    border: none;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 30px;
    margin: 2vh 2vw 0 0;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }
    @media screen and (max-width: 1160px) {
        width: 17vw;
    }
    @media screen and (max-width: 950px) {
        width: 21vw;
    }
    @media screen and (max-width: 750px) {
        width: 25vw;
    }
    @media screen and (max-width: 650px) {
        width: 35vw;
    }

    @media screen and (max-width: 450px) {
        width: 60vw;
        margin-top: 1vh;
    

    }

}

@media screen and (max-width: 450px) {
   .Schedule-webinar-button3{ 
    width: 60vw;
    margin: 0;
    }}

    @media screen and (max-width: 800px) {
        .HA9-styles{
            width:45vw;
            margin: 0;
            padding: 0;
        }
        
        }

        .image-2-ditec{
            height: 75vh;
            @media screen and (max-width: 1290px) {
                           height: 63vh;
                }
                @media screen and (max-width: 1190px) {
                    padding-top: 8vh;
                    height: 58vh;
         }
         @media screen and (max-width: 1050px) {
            padding-top: 8vh;
            height: 53vh;
        }
        
        @media screen and (max-width: 900px) {
            padding-top: 15vh;
            height: 44vh;
        }
        @media screen and (max-width: 750px) {
            padding-top: 4vh;
            height: 44vh;
        }

        @media screen and (max-width: 750px) {
            padding-top: 4vh;
            height: 38vh;
        }
        }

       
  