.style-reset{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Join-us-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    padding-top: 3vh;

}

.video-text{
    padding-left: 14vw;
    padding-top: 5vw;
    font-size: 1.6rem;
}

.Videos-Section{
    display: flex;
   flex-direction: column;
    height: 120vh;
    width: 100vw;

}

.blue-box{
    color: white;
    background-color: #0400B9;
    height: 20vh;
    width: auto;
}

.join-us-img{
    width: clamp(270px, 40vw, 600px);
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5vw;
}

.flexed-Company{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-bottom: 5vh;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.pictures-styling{
    width:clamp(350px, 80vw, 1600px) ;
}

.header-color{
    color: #3d3d3d;
    font-size: clamp(1rem, 10vw, 2rem); 
}


.gradient-box{
    display: flex;
    flex-direction: column;
    padding-left: 12.5vw;
    height: auto;
    width: 100vw;
    padding-top: 5vh;
    background: rgba(250, 252, 255, 0.678);
   }

.ourstory{
    
    width: 80vw;
    padding-bottom: 2vh;
    
}

.our-story-header{
    padding-left: 2.5vw;
    font-size: 3rem;
    color: #102853;
    font-weight: 900;
}

.our-story-text{
    margin-top: 2vh;
    padding-left: 2.5vw;
    width: clamp(250px, 40vw, 1000px);
    line-height: 1.5;
    color: #5e5e5e;
}

.embedded-video{
    width: 70vw;
    height: 80vh;
}

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100vw;
height: 100vh;
background-color: #0400B9;
}

@media (max-width: 900px) {
    .Join-us-Section{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    
    }
.header-color{font-size: 18px; }}

@media (max-width: 450px) {
    .Join-us-Section{
     padding-top: 20vh;
}
.join-us-img{
    margin-top: 2vh;
}

.header-color{padding-left: 2vw; }

.gradient-box{
    padding: 0;
    justify-content: center;
    align-items: center;
}

.our-story-text{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.video-text{
    font-size: 1rem;
    padding: 0;
    width: 85vw;
}

.blue-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
}

.embedded-video{
    width: 100vw;
    height: 75vh;
}


}

.Schedule-webinar-button2{
    align-self: center;
    align-items: center;
    justify-self: center;
    color: #0400B9;
    background-color: white;
    width: 15vw;
    height: 5vh;
    border: 2;
    border-color: #0400B9;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 20px;
    margin: 0 2vw 0 0;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }

    @media screen and (max-width: 1160px) {
        width: 17vw;
    }
    @media screen and (max-width: 950px) {
        width: 21vw;
    }
    @media screen and (max-width: 750px) {
        width: 25vw;
    }
    @media screen and (max-width: 650px) {
        width: 35vw;
    }

    @media screen and (max-width: 450px) {
        width: 60vw;
        margin: 0;
        padding-top: 1vh;
}}


    .download-manual-button2{
        align-self: center;
        align-items: center;
        justify-self: center;
        color: white;
        background-color: #0400B9;
        width: 15vw;
        height: 5vh;
        border: none;
        font-family: 'AvenirBold';
        font-size: 1rem;
        border-radius: 20px;
        &:hover{
            cursor: pointer;
            opacity: 75%;
        }
        @media screen and (max-width: 1160px) {
            width: 17vw;
        }
        @media screen and (max-width: 950px) {
            width: 21vw;
        }
        @media screen and (max-width: 750px) {
            width: 25vw;
        }
        @media screen and (max-width: 650px) {
            width: 35vw;
        }

        @media screen and (max-width: 650px) {
            width: 60vw;
            margin: 0;

            margin-top: 1.5vh;
        }
    
    
    }

    .button-flexed-company{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }

    @media (max-width: 450px) {
    

        .button-flexed-company{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    