.products-filter-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-manufacturer-button{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
    align-items: center;
    justify-self: center;
    color: #0400B9;
    background-color: white;
    width: 15vw;
    height: 5vh;
    border: 2;
    border-color: #0400B9;
    font-family: 'AvenirBold';
    font-size: 1rem;
    border-radius: 20px;
    margin: 2vh 2vw 0 0;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        opacity: 75%;
    }
}


.search-manufacturer{
    display: grid;
    grid-template-columns: 2vw 78vw 18vw 2vw;
    grid-template-rows: 2vh 5vh;
}

.manufacturer-header{
    display: grid;
    grid-column-start: 3;
        grid-row-start: 1;
}


.product-filters-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #414141;
    font-size: 0.8rem;

    .product-subheader{
        color:  #0400B9;
        padding-top: 2vh;
    }
}

.products-flexed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5vh;
   }

.products-container-grid{
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 48vh 20vh;
    border: solid 1px #B9B9B9;
    padding-left: 5vw; 
    padding-right: 5vw;
 

    .images-products-render{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 1;
        width: 20vw;
        max-width: 320px;
       
        justify-content: center;
        justify-items: center;
        align-self: center;
        align-items: center;
        height: auto;
    }

    .images-products-company{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 2;
        color: #414141; 
       
    }

    .images-products-name{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 2;
        padding-top: 3.5vh;
        color: #0400B9;
    }

    .images-products-description{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 2;
        padding-top: 6.75vh;
        
        color: #414141; 
        font-size: 0.775rem;
    }


}

.search-bar{
    display: flex;
    width: 25vw;
   margin-bottom: 4vh;
   padding: 1vh;
   border-radius: 20px;
   border: 2px solid #1F56BA;
   cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}
 
.a-link-click-through {
    text-decoration: none;
    
    
}
.images-products-url {
margin-top: 2vh;
padding-bottom: 3vh;
color:#0400B9;
width: 5vw;
}

.images-products-url:hover {
   opacity: 0.8;
   cursor: pointer;
}