::-webkit-scrollbar {
  background: white;
  width: auto;


}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-top: .2em;
  margin-bottom: .2em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(4,0,185,1) 100%);
  border: .25em solid rgb(255, 255, 255);
border-radius: 100vw;
}

@supports (scrollbar-color: red blue){
* {
  scrollbar-color: 	hsl(241, 100%, 36%) white;
  scrollbar-width: thin;
}

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.wait {

}
.wait * {
  cursor: wait !important;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

