body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wait {

}
.wait * {
  cursor: wait !important;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}