.otherproducts-container-component{
    display: grid;
    grid-template-columns: 4vw 1fr 1fr 1fr 4vw;
    grid-template-rows: 15vh 1fr 4vh 15vh 10vh 15vh;
    height: 80vh;
    width: 100vw;

    @media screen and (max-width: 950px) {
       grid-template-columns: 5vw 1fr 5vw;
       grid-template-rows: 15vh 25vh 4vh 35vh 25vh 35vh 8vh 25vh 15vh 10vh 15vh;
       height: 205vh;
        
        }


    .otherproducts-header-text{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        align-self: center;
        font-family: 'AvenirBold';
        color: #696A86;
        font-size: 2.1rem;
        width: 35vw;
        padding-left: 6vw;
        @media screen and (max-width: 950px) {
           grid-column-start: 2;
           grid-column-end: 2;
           width: 65vw;
             }

             @media screen and (max-width: 650px) {
                width: 75vw;
                margin-top: 1vh;
               
                }
        
    }

    .pneumatic-icon-otherproducts{
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: center;
        @media screen and (max-width: 950px) {
            
           height: 25vh;
              }
        
    }

    .highpower-icon-otherproducts{
        display: grid;
        grid-column-start: 3;
        grid-row-start: 2;
        justify-self: center;
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 5;
           height: 25vh;
              }
    }

    .customfob-icon-otherproducts{
        display: grid;
        grid-column-start: 4;
        grid-row-start: 2;
        justify-self: center;
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 8;
            grid-column-end: 2;
            height: 25vh;
              }
    }

    .pneumatic-switches-header-text{
        display: grid;
        grid-column-start: 2;
        grid-row-start: 3;
        align-self: flex-start;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #1F56BA;
        font-size: 1.6rem;

        @media screen and (max-width: 950px) {
           margin-top: 1vh;
              }
       
        
    }

    .pneumatic-switches-otherproducts-p-text{
        display: grid;
        grid-column-start: 2;
        grid-row-start: 4;
        align-self: flex-start;
        padding-top: 1vh;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #696A86;
        width: 20vw;

        @media screen and (max-width: 1150px) {
           width: 22vw;
              }

        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            width: 45vw;
            grid-column-end: 2;
            margin-top: 2vh;
              }
              @media screen and (max-width: 650px) {
                width: 65vw;
                text-align: center;
                }
                @media screen and (max-width: 550px) {
                    width: 85vw;
                    }

    }
 a{
    display: flex;
    align-self: center;
    justify-content: center;
 }

    .pneumatic-switches-page{
        display: grid;
        grid-column-start: 2;
        grid-row-start: 5;
        align-self: center;
        align-items: center;
        justify-self: center;
        text-decoration: none;
        color: white;
        background-color: #0400B9;
        width: 15vw;
        height: 5vh;
        border: none;
        font-family: 'AvenirBold';
        font-size: 1rem;
        border-radius: 20px;

        @media screen and (max-width: 1350px) {
            width: 20vw;
            margin-top: 4vh;
              }
              @media screen and (max-width: 1250px) {
               margin-top: 8vh;
                  }
                  @media screen and (max-width: 1150px) {
                    margin-top: 7vh;
                       }

                       
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 4;
            grid-column-end: 2;
            width: 25vw;
            margin-top: 2vh;
              }

              @media screen and (max-width: 650px) {
                width: 55vw;
                }

        &:hover{
            opacity: 85%;
            cursor: pointer;
        }
    }

    .highpower-one-header-text{
        display: grid;
        grid-column-start: 3;
        grid-row-start: 3;
        align-self: flex-start;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #1F56BA;
        font-size: 1.6rem;
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 6;
            grid-column-end: 2;
              }
    }

    .highpowerone-otherproducts-p-text{
        display: grid;
        grid-column-start: 3;
        grid-row-start: 4;
        align-self: flex-start;
        padding-top: 1vh;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #696A86;
        width: 20vw;

        @media screen and (max-width: 1150px) {
            width: 22vw;
               }
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 6;
            padding-top: 5vh;
            width: 45vw;
              }

              @media screen and (max-width: 650px) {
                width: 65vw;
                text-align: center;
                }

                @media screen and (max-width: 550px) {
                    width: 85vw;
                    }

    }



    .highpowerone-page{
        display: grid;
        grid-column-start: 3;
        grid-row-start: 5;
        align-self: center;
        align-items: center;
        justify-self: center;
        text-decoration: none;
        color: white;
        background-color: #0400B9;
        width: 15vw;
        height: 5vh;
        border: none;
        font-family: 'AvenirBold';
        font-size: 1rem;
        border-radius: 20px;

        @media screen and (max-width: 1350px) {
            width: 20vw;
            margin-top: 4vh;
              }
              @media screen and (max-width: 1250px) {
                margin-top: 8vh;
                   }
                   @media screen and (max-width: 1150px) {
                    margin-top: 7vh;
                       }
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 6;
           margin-top: 8vh;
            width: 25vw;
            grid-column-end: 2;
            margin-top: 2vh;
              }

              @media screen and (max-width: 650px) {
                width: 55vw;
                }

        &:hover{
            opacity: 85%;
            cursor: pointer;
        }
    }

    .custom-fobgenerator-header-text{
        display: grid;
        grid-column-start: 4;
        grid-row-start: 3;
        align-self: flex-start;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #1F56BA;
        font-size: 1.6rem;

        


        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 7;
            align-self: center;
            }
    }

    .custom-fobgenerator-otherproducts-p-text{
        display: grid;
        grid-column-start: 4;
        grid-row-start: 4;
        align-self: flex-start;
        padding-top: 1vh;
        justify-self: center;
        font-family: 'AvenirBold';
        color: #696A86;
        width: 20vw;

        @media screen and (max-width: 1150px) {
            width: 22vw;
               }
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 9;
            grid-column-end: 2;
            width: 45vw;
              }
              @media screen and (max-width: 650px) {
                width: 65vw;
                text-align: center;
                }

                @media screen and (max-width: 550px) {
                    width: 85vw;
                    }

    }


    .custom-fobgenerator-page{
        display: grid;
        grid-column-start: 4;
        grid-row-start: 5;
        align-self: center;
        align-items: center;
        justify-self: center;
        color: white;
        background-color: #0400B9;
        width: 15vw;
        height: 5vh;
        border: none;
        font-family: 'AvenirBold';
        font-size: 1rem;
        border-radius: 20px;
        @media screen and (max-width: 1350px) {
            margin-top: 4vh;
            width: 20vw;
              }
              @media screen and (max-width: 1250px) {
                margin-top: 8vh;
                   }

                   @media screen and (max-width: 1150px) {
                    margin-top: 7vh;
                       }
        @media screen and (max-width: 950px) {
            grid-column-start: 2;
            grid-row-start: 10;
            grid-column-end: 2;
            width: 30vw;
            margin-top: 0vh;
              }

              @media screen and (max-width: 650px) {
                width: 55vw;
                
                }

        &:hover{
            opacity: 85%;
            cursor: pointer;
        }
    }


}